<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727656541815-nope1qab5oj7hochgfqa52necmj3slfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727656541815-nope1qab5oj7hochgfqa52necmj3slfb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727656541815-ii2245ban828kebrkq9cqqf2cpj5e787.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDx6xXsZyRvCYgEJxj_kY0DlNu11s9FOIs</string>
	<key>GCM_SENDER_ID</key>
	<string>727656541815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learningaccelerated.etwelve</string>
	<key>PROJECT_ID</key>
	<string>etwelve-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>etwelve-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727656541815:ios:0c791697822ed27ae06072</string>
	<key>DATABASE_URL</key>
	<string>https://etwelve-apps-default-rtdb.firebaseio.com</string>
</dict>
</plist>